

.h2 {
	font-size: 30px;
	text-align: center;
	padding: 10px;
	margin: -30px;
	background-color: green;
	width: 101.2%;

}

header {
	background-color: black;
	color: white;
	padding: 0px;
	margin: -0px;
}
nav {width: 150px;
	float:left;
	background-color: lightgray;
	height: 850px;
	margin: 0px;
}
section {
	background-color: beige;
	height: 900px;
	
}
footer {
	text-align: center;
	padding-left: 900px;
	max-width:65%;

}
nav ul {
	height: 50px;
	list-style: none;
	width: 100%;
	
}

p { text-align: left;
	padding-left:300px;
	
}
h2 { text-align: left;
		padding-left:300px;
		padding-top:20px;
}

div { text-align: left;
	padding-left:300px;
}
		a:hover { color: green; }
