

.h2 {
	font-size: 30px;
	text-align: center;
	padding: 10px;
	margin: -30px;
	background-color: green;
	float: center;


}

header {
	background-color: black;
	color: white;
	padding: 0px;
	margin: -0px;
	float: center;
}
nav {width: 150px;
	float:left;
	background-color: lightgray;
	height: 1050px;
	margin: 0px;
}
section {
	background-color: beige;
	height: 1100px;
	
}
footer {
		position:fixed;
		bottom:0;
		width:100%;
		height:50px;
}
nav ul {
	height: 50px;
	list-style: square;
	padding: 10px;
	width: 100%;
	
}

p { text-align: leftwards;
	padding-left:300px;
	
}
h2 { text-align: left;
		padding-left:300px;
		padding-top:20px;
}

div { text-align: leftwards;
	padding-left:300px;
}
